@model News

@functions
{
    public string GetWidthProgressBar(int reputation, out string progressColor, out double ariaValuenow)
    {
        var widthResult = "";
        progressColor = "";
        ariaValuenow = 0;

        switch (reputation)
        {
            case -5:
                progressColor = "bg-danger";
                widthResult = "width: 5%";
                ariaValuenow = 5;
                break;
            case -4:
                progressColor = "bg-danger";
                widthResult = "width: 10%";
                ariaValuenow = 10;
                break;
            case -3:
                progressColor = "bg-warning";
                widthResult = "width: 20%";
                ariaValuenow = 20;
                break;
            case -2:
                progressColor = "bg-warning";
                widthResult = "width: 30%";
                ariaValuenow = 30;
                break;
            case -1:
                progressColor = "bg-warning";
                widthResult = "width: 40%";
                ariaValuenow = 40;
                break;
            case 0:
                progressColor = "text-dark";
                widthResult = "width: 0%";
                ariaValuenow = 0;
                break;
            case 1:
                progressColor = "bg-info";
                widthResult = "width: 60%";
                ariaValuenow = 60;
                break;
            case 2:
                progressColor = "bg-primary";
                widthResult = "width: 70%";
                ariaValuenow = 70;
                break;
            case 3:
                progressColor = "bg-primary";
                widthResult = "width: 80%";
                ariaValuenow = 80;
                break;
            case 4:
                progressColor = "bg-success";
                widthResult = "width: 90%";
                ariaValuenow = 90;
                break;
            case 5:
                progressColor = "bg-success";
                widthResult = "width: 100%";
                ariaValuenow = 100;
                break;
        }
        return widthResult;
    }
}

<div class="shadow-sm">
    <div class="p-3 mb-5 bg-white rounded" style="display: flex">
        <img style='width:250px; height:125px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.NewsHeaderImage))" />
        <div style="flex: 1; padding: 15px 30px">
            <div>
                @{
                    var widthProgressBar = GetWidthProgressBar(Model.Reputation, out string progressColor, out double ariaValuenow);
                    var reputation = Model.Reputation == 0 ? "Без оценки" : $"Рейтинг: {Model.Reputation}";
                    <div class="progress ml-auto" style="width: 200px; height: 20px;">
                        <div class="progress-bar @progressColor" role="progressbar" style="@widthProgressBar" aria-valuenow="@ariaValuenow" aria-valuemin="0" aria-valuemax="100"><strong>@reputation</strong></div>
                    </div>
                }
            </div>
            <h2>
                @Model.NewsStructure.Headline
            </h2>
            <p>@Model.NewsStructure.Lead</p>
            <details>
                <summary>Читать далее</summary>
                <vc:Body body-news=@Model.NewsStructure.Body />
            </details>

            <p><strong>Автор статьи: <em>@Model.Author </em><small class="text-muted">@Model.Date</small></strong></p>
            <p><u><a href="@Model.Source.Url">Источник</a></u></p>
        </div>
    </div>
</div>
